<h1>Welcome</h1>
<%= link_to "Sign Up", signup_path %>
<%= link_to "Log In Here", login_path %>

<h2>About the Artist:</h2>
<p>My name is Gabrielle and I'm a Certified Makeup Artist and Eyelash Extension Technician. My makeup journey started when I was 15 years old. Feeling uncomfortable in my own skin, ashamed of the acne and scars that remained I turned to makeup to feel beautiful and confident. After years of practicing and at first self-teaching, I decided to take my craft more seriously. Finally able to call myself a certified artist, I am always learning to love myself, flaws and all and this is what I strive to provide for my clients.

 

Makeup isn't about hiding behind a "mask", it truly is about enhancing your natural beauty and learning to love the skin that your in. From skincare to makeup application, I want my clients to ultimately feel like the best version of themselves. </p>

<h2>About the Community</h2>
<p>Create an account to have access to exclusive promotions and giveaways! Having an account also allows you to write a review on a service you've received by me. Thank you for your business! </p>