<h1>Your Comment</h1>

<h2><%= @comment.review.title %> </h2>
<br>
<br>
<%= @comment.content %>

<% if current_user == @comment.user %>

<p><%= link_to 'Delete', comment_path(@comment), method: 'delete' %> </p>

<% end %>