<h1> Welcome <%= @user.username %> </h1>

<p> Welcome to my website! My name is Gabrielle and I would be more than happy
to work with you on creating your dream look! Take a look around at the services I offer. 
Feel feel to leave a review or check out other reviews of the work I've done so far! Looking
forward to working with you, thank you for your business!</p>
<br>
<p>-Gabrielle Eula</p>


<h2> Here is the top reviewer!</h2> 

<%= render partial: "users/topreviewer", locals: {object: @user} %